<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header.html::head('목록')}"></head>
<div>
	
	<h1 th:text="|블로그 목록(전체 ${totalRecord}개)|"></h1>
	
	<div>
		<input type="button" value="블로그 작성하기" id="btn_write">
		<!--/* # html : 자바스크립트 내부에서 thymeleaf의 표현식들 
		expression 사용을 위해서 th:inline="javascript" 속성을 사용한다 */-->
		<script th:inline="javascript">
		
			$('#btn_wrtie').click(function() {
				location.href = '[[@{/blog/write}]]';
			});
			
			// * thymeleaf의 expression은 [[]] 대괄호 두개로 묶는다
			
		</script>
	</div>
	
	<div>
		<table border="1">
			<thead>
				<tr>
					<td>순번</td>
					<td>제목</td>
					<td>조회수</td>
					<td>작성일</td>
				</tr>
			</thead>
			<tbody>
				<!--  # html : 반복문 처리 -->
				<!--  Variable Expression : 숫자값 처리
						- 방법 : ${} 
				-->

				<!--  - 타임리프로 수정 -->		
				<tr th:each="blog,vs:${blogList}">	<!-- ,vs: : foreach의 varStatus  -->
					<td th:text="${beginNo - vs.index}"></td>
					<td><a th:href="@{/blog/increse/hit(blogNo=${blog.blogNo})}" th:text="${blog.title}"></a></td>
					
						<!--  HTML : th:text 속성 -->
					<!--  1) 태그가 포함되지 않은 경우 : 
					- th:text="일반 텍스트"  -->
					<td th:text="${blog.hit}"></td>
					<td th:text="${blog.createDate}"></td>
				</tr>	
				
				
			</tbody>
			<tfoot>
				<tr>
					<!--  2) 태그가 포함된 경우
					- th:utext="HTML 구성요소 포함한 텍스트" -->
					<td colspan="4" th:utext="${paging}"></td>
				</tr>
			</tfoot>
		</table>
	</div>

</div>

</body>
</html>